h1 {
    text-align: center;
    color: blue;
    font-family: cursive;

}
h2 { }

p {
    font-size: 20px;
    color: navy;
}

h3 {
    color: darkred;
}

.profile {
    height: auto;
    width: auto;
    max-width: 500px;
   }

div.intro {width: 500px;
align-content: center}

body {
    background-color: lightslategray;
}


.left {
    width: 80px;
    height: 120px;
    background-color: red;
    display: block;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform: rotate(-50deg);
    left: 60px;
    position: absolute
}

.right {
    width: 80px;
    height: 120px;
    background-color: red;
    display: block;
    position: absolute;
    top: 0;
    left: 100px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transform: rotate(50deg);
}

.heart {
    position: relative;
}