h1 {
    text-align: center;
    color: blue;
    font-family: "Al Nile";

}
h2 { }

p {
    font-size: 20px;
    color: darkblue;
}

h3 {
    color: darkred;
}

.profile {
    height: auto;
    width: auto;
    max-width: 500px;
    image-orientation: inherit;
   }

div.intro {width: 500px;
align-content: center}